/* responsive flower style here */
/* noto serif font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* tailwind css link */
@import "tailwindcss";

/* shared style */
:root {
  --dark-color: #000000;
  --primary-color: #e95a08;
  --secondary-color: #ffffff;
  --paragraph-color: #8987a1;
}

/* header style starts here */
.home-menu {
  color: var(--dark-color);
}
.header {
  margin: 0 auto;
  margin-bottom: 120px;
}

/* header style end  */

/* banner style start here */
.primary-color {
  color: var(--primary-color);
}
.banner {
  margin: 0 auto;
}
/* banner style end here */

/* plant section style here */
.plant-card-container {
  margin: 0 auto;
  margin-top: 50px;
}
.card-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 19px 80px;
}
.plant-card {
  margin: 0 auto;
}
/* plant section end here */

/* plants lover section style here */
.plants-lover {
  margin: 0 auto;
  margin-bottom: 140px;
}
.plants-lover-content-description {
  color: var(--paragraph-color);
}
/* plants lover section style end here */

/* latest deal section style starts here */

/* latest deal section style end here */

/* join section style start here */
.join-section {
  margin: 0 auto;
}
.join-section-title {
  color: var(--secondary-color);
}
.join-input-section input[type="email"] {
  background-color: var(--secondary-color);
}
.join-input-section input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 13.5px 50px;
}
