/* responsive flower style here */
/* noto serif font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* tailwind css link */
@import "tailwindcss";

/* shared style */
:root {
  --dark-color: #000000;
  --primary-color: #e95a08;
  --secondary-color: #ffffff;
  --paragraph-color: #8987a1;
}

/* header style starts here */
.home-menu {
  color: var(--dark-color);
}
.header {
  margin: 0 auto;
  margin-bottom: 120px;
}

/* header style end  */

/* banner style start here */
.primary-color {
  color: var(--primary-color);
}
.banner {
  margin: 0 auto;
}
/* banner style end here */

/* plant section style here */
.plant-card-container {
  margin: 0 auto;
  margin-top: 50px;
}
.card-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 19px 80px;
}
.plant-card {
  margin: 0 auto;
}
/* plant section end here */

/* plants lover section style here */
.plants-lover {
  margin: 0 auto;
  margin-bottom: 140px;
  margin-top: 200px;
}
.plants-lover-content-description {
  color: var(--paragraph-color);
}

/* plants lover section style end here */

/* latest deal section style starts here */
.latest-deal-title {
  color: var(--dark-color);
}
.latest-deal-description {
  color: var(--paragraph-color);
}
.bloom-plant {
  grid-area: bloom-plant;
}
.ana-plant {
  grid-area: ana-plant;
}
.zabo-plant {
  grid-area: zabo-plant;
}
.bloom-plant,
.ana-plant,
.zabo-plant {
  color: var(--secondary-color);
}
.deal-container {
  margin: 0 auto;
  margin-bottom: 120px;
  display: grid;
  grid-template-areas:
    "bloom-plant zabo-plant zabo-plant"
    "ana-plant zabo-plant zabo-plant";
}

/* latest deal section style end here */

/* join section style start here */
.join-section {
  margin: 0 auto;
}
.join-section-title {
  color: var(--secondary-color);
}

.join-input-section input[type="email"] {
  background-color: var(--secondary-color);
}
.join-input-section input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 13.5px 50px;
}
/* join section style end here */

/* footer section style start here */
.footer {
  margin: 0 auto;
  margin-top: 50px;
}
.footer-description {
  color: var(--paragraph-color);
  margin-top: 16px;
}
.middle-footer-1 li a,
.middle-footer-section-2 li a {
  color: var(--paragraph-color);
}
/* footer section style end here */

/* responsive design */
/* small device */
@media screen and (max-width: 576px) {
  .header {
    margin-top: 50px;
    width: auto;
  }
  .link ul li {
    display: none;
  }
  /* banner */
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
  .banner-content {
    order: 2;
    margin-left: 20px;
  }
  .banner-image {
    order: 1;
    width: 100%;
  }
  .banner-content h1 {
    font-size: 2rem;
  }
  .banner-description p {
    font-size: 1rem;
    width: 90%;
  }
  /* plants section */
  .plant-title {
    font-size: 2rem;
  }
  .plant-description {
    font-size: 1rem;
    width: 90%;
  }
  .plants-lover-content-title {
    font-size: 2rem;
  }
  .plants-lover-content-description {
    font-size: 1rem;
    width: 90%;
  }
  .plant-card-container {
    grid-template-columns: 1fr 1fr;
    width: auto;
    gap: 20px;
  }
  /* plant lover section */
  .plants-lover {
    width: auto;
    flex-direction: column;
    height: auto;
    margin: 0px 20px;
  }
  .animation-image {
    display: none;
  }

  /* latest deal */
  .latest-deal-title h2 {
    font-size: 2rem;
  }
  .latest-deal-description p {
    font-size: 1rem;
    width: 75%;
  }

  .deal-container {
    display: grid;

    grid-template-areas:
      "bloom-plant"
      "ana-plant"
      "zabo-plant";
    width: auto;
    height: auto;
  }
  .bloom-plant,
  .ana-plant,
  .zabo-plant {
    height: 300px;
    margin: 0px 20px;
    font-size: 2rem;
    font-weight: 400;
  }
  /* join section{ */
  .join-section-title {
    font-size: 2rem;
  }
  .join-input-section {
    width: 400px;
  }
  .join-input-section input[type="submit"] {
    padding: auto 10px;
  }

  /* footer */
  .footer {
    flex-direction: column;
    padding-left: 20px;
  }
}
